*,
::after,
::before {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');


:root {
    /* --almost-black: #212529;
    --dark-grey: #343a40;
    --middle-grey: #495057;
    --light-grey: #6c757d;
    --lighter-grey: #adb5bd;
    --almost-white: #f8f9fa; */
    font-family: 'Montserrat', sans-serif;
    --full-white: #fff;
    --light-grey: #e5e5e5;
    --good-orange: #fca311;
    --fade-orange: rgba(252, 163, 17, 0.5);
    --dark-blue: #14213d;
    --full-black: #000;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--full-white)
}

header {
    grid-column: 1/3;
    padding: 0;
    margin: 0;
    background-color: var(--dark-blue)
}

main {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 1em;
}

.btn-container {
    margin: 1em;
}


.sidebar {
    background-color: var(--light-grey)
}

.hide-sidebar {
    width: 0;
    height: auto;
}



.task-container {
    min-width: 500px;
    display: flex;
    gap: 1rem;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid var(--fade-orange);
}

.task-checkbox {

    border-radius: 50%;
    border: 1px solid;
    padding: 0.2rem;
}

#textArea,
#task-description {
    width: 100%;
    resize: none;
    border-radius: 0.3rem 0.3rem 0 0;
    border: none;
    outline: none;

}

.task-input-container {
    border: 2px solid var(--good-orange);
    border-radius: 0.4rem;
}


#textArea {
    font-size: large;
}

.todo-description {
    opacity: 0.7;
    font-size: medium;
    margin: 0;
}



.task-list {
    flex: 0.75;
    padding: 1rem;
    list-style: none;
}

.task-list-entry {

    margin: 1rem 0 1rem 0;
}

.task-btn-container {
    display: inline;
}

.priorityA .task-checkbox{
    border-color: red;
    color: red
}
.priorityB .task-checkbox{
    border-color: var(--good-orange);
    color: var(--good-orange);
}
.priorityC .task-checkbox{
    border-color: var(--dark-blue);
    color: var(--dark-blue);
}
.priorityD .task-checkbox{
    border-color: gray;
    color: grey;
}
.no-priority .task-checkbox{
    border-color: var(--full-black);
    color: var(--full-black);
}



/* HOVER ----------------- */

.priorityA .task-checkbox:hover{
    background-color: red;
    color: var(--full-white);
    cursor: pointer;
}
.priorityB .task-checkbox:hover{
    background-color: var(--good-orange);
    color: var(--dark-blue);
    cursor: pointer;
}
.priorityC .task-checkbox:hover{
    background-color: var(--dark-blue);
    color: var(--good-orange);
    cursor: pointer;
}
.priorityD .task-checkbox:hover{
    background-color: gray;
    color: var(--full-white);
    cursor: pointer;
}

.no-priority .task-checkbox:hover{
    background-color: var(--full-black);
    color: var(--full-white);
    cursor: pointer;
}