*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    /* --almost-black: #212529;
    --dark-grey: #343a40;
    --middle-grey: #495057;
    --light-grey: #6c757d;
    --lighter-grey: #adb5bd;
    --almost-white: #f8f9fa; */
    --full-white: #fff;
    --light-grey: #e5e5e5;
    --good-orange: #fca311;
    --dark-blue: #14213d;
    --full-black: #000;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--full-white)
}

header {
    grid-column: 1/3;
    padding: 0;
    margin: 0;
    background-color: var(--dark-blue)
}

h1 {
    margin: 1em;
}

.btn-container {
    margin: 1em;
}


.sidebar {
    background-color: var(--light-grey)
}

.hide-sidebar{
    width: 0;
    height: auto;
}

.taskform.hidden{
    display: none;
}